<%= form_with(model: @simulacao, url:{action: "criar", controller: "simulacoes"}) do |form| %>
<div class="modal-body">
    <div class="form-group">
        <%= form.label :tipo %>
        <%= form.select :tipo ,[
        ["Empresarial", "Empresarial"],
        ["Automóvel", "Automóvel"],
        ["Educacional", "Educacional"],
        ["Residencial", "Residencial"],
        ["Aluguel", "Aluguel"],
        ["Condomínio", "Condomínio"]
        ], {prompt: "Tipo"},{ class: "form-control",required: true} %>
    </div>

    <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control", required: true, placeholder: "Digite seu nome"%>
    </div>

    <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", required: true, placeholder: "Digite seu email" %>
    </div>



    <div class="form-group">
        <%= form.label :telefone %>
        <%= form.text_field :telefone, class: "form-control", required: true, placeholder: "Digite seu telefone"%>
    </div>

</div>
<div class="modal-footer">
    <%= form.submit 'Enviar', class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>

<% end %>