<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to  "Dashboard", admin_dashboard_path %></li>
        <li class="breadcrumb-item"><%= link_to  "Artigos", admin_artigos_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Exibir</li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="social-likes social-likes_vertical float-right" data-counters="no" data-url="www.humanizerh.com.br" data-title="Veículo">
            <button type="button" class="facebook btn btn-primary"> <i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar</button>
        </div>
        <h3 class="card-title"><%= @artigo.titulo %></h3>
        <h5 class="card-subtitle mb-2 text-muted"><%= @artigo.created_at.strftime("%d/%m/%Y") %></h5>
        <hr>
        <%= image_tag @artigo.foto.url(:grande), class: "img-fluid" %>
        <%= raw(@artigo.texto) %>
    </div>
</div>