<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Simulação seguro automóvel</h3>
    <p>
        <h3>Solicitante</h3>
        <hr>
        <strong>Nome:</strong> <%= @nome %><br>
        <strong>E-mail para resposta:</strong> <%= @email %><br>
        <strong>Telefone:</strong> <%= @telefone %><br>
    </p>
    <p>
        <h3>Veículo</h3>
        <hr>
    <strong>Veículo</strong>       <%= @veiculo%><br>
    <strong>Ano do Veículo</strong>       <%= @ano%><br>
    <strong>Placa do Veículo</strong>       <%= @placa%><br>
    <strong>RENAVAM</strong>       <%=  @renavam%><br>

    <h3>Dados do solicitante</h3>
    <hr>
    <strong>Nome do segurado</strong>       <%=  @nome%><br>
    <strong>E-mail</strong>       <%=  @email%><br>
    <strong>Telefone</strong>       <%= @telefone%><br>
    <strong>CPF</strong>       <%=  @cpf%><br>
    <strong>Data de nascimento</strong>       <%=  @nascimento%><br>
    <strong>Data da primeira habilitação</strong>       <%=  @primeira%><br>
    <strong>Estado civil</strong>       <%=  @civil%><br>
    <strong>Profissão</strong>       <%=  @profissao%><br>
    <strong>Endereço</strong>       <%=  @endereco%><br>
    <strong>Possui garagem na residência</strong>       <%=  @garagem_residencia%><br>
    <strong>Possui garagem no trabalho</strong>       <%=  @garagem_trabalho%><br>
    <strong>Gostaria de estender</strong>       <%=  @estender %><br>
    </p>

  </body>
</html>