<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Simulação seguro Aluguel</h3>
    <p>
        <h3>Solicitante</h3>
        <hr>
        <strong>Nome:  </strong>                   <%= @nome %><br>
        <strong>E-mail para resposta:  </strong>   <%= @email %><br>
        <strong>Telefone:  </strong>               <%= @telefone %><br>
    </p>
    <p>
    <h3>Imóvel</h3>
    <hr>

    <strong>Imóvel pretendido  </strong>  <%=@nome%><br>
    <strong>Aluguel  </strong>  <%=@aluguel%><br>
    <strong>iptu  </strong>  <%=@iptu%><br>
    <strong>agua  </strong>  <%=@agua%><br>
    <strong>condominio  </strong>  <%=@condominio%><br>
    <strong>luz  </strong>  <%=@luz%><br>
    <strong>gas  </strong>  <%= @gas%><br>
    <h3>Inquilino / locatário</h3>
    <hr>
    <strong>Nome do inquilino  </strong>   <%=@inquilino %><br>  
    <strong>Data de nascimento  </strong>   <%=@nascimento %><br>
    <strong>Sexo  </strong>   <%=@sexo %><br>
    <strong>Imóvel  </strong>   <%=@imovel_inquilino%><br>
    <strong>Endereço completo  </strong>   <%=@endereco%><br>
    <strong>CPF  </strong>   <%=@cpf%><br>
    <strong>Número do RG / Data emissão / Órgão emissor  </strong>   <%=@rg%><br>
    <strong>Estado civil  </strong>   <%=@civil%><br>
    <strong>E-mail  </strong>   <%=@email_inquilino%><br>
    <strong>Telefones  </strong>   <%=@telefone_inquilino%><br>     
    <strong>Empresa / CNPJ  </strong>   <%=@empresa%><br>
    <strong>Endereço da empresa  </strong>   <%=@endereco_empresa%><br>
    <strong>Telefones da empresa  </strong>   <%=@telefone_empresa%><br>
    <strong>Data da admissão  </strong>   <%=@admissao%><br>
    <strong>Renda mensal  </strong>   <%=@renda_inquilino%><br>
    <strong>Banco  </strong>   <%=@banco%><br>
    <strong>Gerente  </strong>   <%=@gerente%><br>
    <strong>Telefones da empresa  </strong>   <%=@telefone_banco%><br>
    <strong>Endereco do banco  </strong>   <%=@endereco_banco%><br>
    <strong>Conta corrente  </strong>   <%=@conta%><br>
    <strong>Cliente desde  </strong>   <%=@desde%><br>
    <strong>Referência 1  </strong>   <%=@referencia1%><br>
    <strong>Referência 2  </strong>   <%=@referencia2%><br>
    <h3>Dados do cônjuge</h3>
    <hr>
    <strong>Nome do cônjuge  </strong>   <%=@conjuge%><br>
    <strong>Data de nascimento  </strong>   <%=@nascimento_conjuge%><br>
    <strong>CPF  </strong>   <%=@cpf_conjuge%><br>
    <strong>Número do RG / Data emissão / Órgão emissor  </strong>   <%=@rg_conjuge%><br>
    <strong>E-mail  </strong>   <%=@email_conjuge%><br>
    <strong>Telefones  </strong>   <%=@telefone_conjuge%><br>
    <strong>Empresa / CNPJ  </strong>   <%=@empresa_conjuge%><br>
    <strong>Endereço da empresa  </strong>   <%=@endereco_empresa_conjuge%><br>
    <strong>Telefones da empresa  </strong>   <%=@telefone_empresa_conjuge%><br>
    <strong>Data da admissão  </strong>   <%=@admissao_conjuge%><br>
    <strong>Renda mensal  </strong>   <%=@renda_conjuge%><br>
    </p>

  </body>
</html>