<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Proposta</h3>
    <p>
        <strong>Nome:</strong> <%= @nome %><br>
        <strong>E-mail para resposta:</strong> <%= @email %><br>
        <strong>Telefone:</strong> <%= @telefone %><br>
        <strong>link:</strong> <%= @link %><br>
        <strong>Modelo:</strong> <%= @modelo %><br>
    </p>
    <p>
        <%= @mensagem %>
    </p>

  </body>
</html>