<% if notice.present? %>
  <p class="alert alert-primary" role="alert"><%= notice %></p>
<%end%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to  "Dashboard", admin_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to  "Veículos", admin_veiculos_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descrição</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Fotos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= form_with(model: @veiculo, local: true, url:{action: "atualizar", controller: "veiculos", id: @veiculo.id}) do |form| %>

    <% if @veiculo.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong class="alert-heading">ERRO AO TENTAR SALVAR O VEÍCULO.</strong>
          <hr>
          <% @veiculo.errors.full_messages.each do |message| %>
              <%= message %><br>
          <% end %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  <% end %>

      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <%= image_tag @veiculo.foto.url(:thumb), class: "img-thumbnail" %>
            </div>
            <div class="col-md-10">
                <%= form.file_field :foto, id: :admin_veiculo_foto, class: "form-control" %>
                <small>Largura 700 Altura 700 (minimo)</small>
            </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :categoria %>
        <%= form.select :categoria ,[["Carro", "Carro"],["Motocicleta", "Motocicleta"],["Caminhão", "Caminhão"]], {prompt: "Categoria"},{ class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= form.label :marca %>
        <%= form.text_field :marca, id: :admin_veiculo_marca, class: "form-control", placeholder: "Marca do veículo"%>
        <small id="marca" class="form-text text-muted">marca do veículo</small>
      </div>

      <div class="form-group">
      <%= form.label :modelo %>
      <%= form.text_field :modelo, id: :admin_veiculo_modelo, class: "form-control", placeholder: "Modelo do veículo" %>
      </div>

      <div class="form-group">
        <%= form.label :tipo %>
        <%= form.select :tipo ,[["Não informar", ""],["Básico", "Básico"],["Completo", "Completo"]], {prompt: "Tipo"},{ class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= form.label :preco %>
        <%= form.text_field :preco, id: :admin_veiculo_preco, class: "form-control", placeholder: "Marca do veículo"%>
        <small id="marca" class="form-text text-muted">Preço ex.: 20.000,00</small>
      </div>

      <div class="form-group">
      <%= form.label :descricao %>
      <%= form.cktext_area :descricao, id: :admin_veiculo_descricao, class: "form-control", placeholder: "Descrição do veículo" %>
      </div>


      <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to  "Cancelar", admin_veiculos_path, class: "btn btn-secondary"  %>
      </div>

    <% end %>

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= render  "admin/galerias/form" %>
    <div id="fotos">
      <%= render  "admin/galerias/fotos" %>
    </div>  
  </div>
</div>


