<% if notice.present? %>
  <p class="alert alert-primary" role="alert"><%= notice %></p>
<%end%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to  "Dashboard", admin_dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Veículos</li>
  </ol>
</nav>
<div class="row">
  <div class="col-12">
      <%= link_to admin_novo_veiculo_path, class: "btn btn-primary float-right" do %>
      <i class="fa fa-check" aria-hidden="true"></i>
      Novo
      <%end%>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="carro-tab" data-toggle="tab" href="#carro"role="tab" aria-controls="carro" aria-selected="true">Carro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="moto-tab" data-toggle="tab" href="#moto" role="tab" aria-controls="moto" aria-selected="false">Motocicleta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="caminhao-tab" data-toggle="tab" href="#caminhao" role="tab" aria-controls="caminhao" aria-selected="false">Caminhão</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="carro" role="tabpanel" aria-labelledby="carro-tab">
    <table class="table table-bordered table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th  scope="col">Cod.</th>
          <th  scope="col">Marca</th>
          <th  scope="col">Modelo</th>
          <th  scope="col">Views..</th>
          <th  style="width: 5%;" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @carros.each do |veiculo| %>
          <tr>
            <td><%= veiculo.id %></td>
            <td><%= veiculo.marca %></td>
            <td><%= veiculo.modelo %><br> <small class="text-muted"><%= veiculo.created_at.strftime("%d/%m/%Y") %></small></td>
            <td><%= visualizacoes(veiculo) %></td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), class: "btn btn-secondary" do %>
              <i class="fa fa-car" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_editar_veiculo_path(veiculo), class: "btn btn-primary" do %>
              <i class="fa fa-edit" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade show" id="moto" role="tabpanel" aria-labelledby="moto-tab">
    <table class="table table-bordered table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th  scope="col">Cod.</th>
          <th  scope="col">Marca</th>
          <th  scope="col">Modelo</th>
          <th  scope="col">Views..</th>
          <th  style="width: 5%;" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @motos.each do |veiculo| %>
          <tr>
            <td><%= veiculo.id %></td>
            <td><%= veiculo.marca %></td>
            <td><%= veiculo.modelo %></td>
            <td><%= visualizacoes(veiculo) %></td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), class: "btn btn-secondary" do %>
              <i class="fa fa-car" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_editar_veiculo_path(veiculo), class: "btn btn-primary" do %>
              <i class="fa fa-edit" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade show" id="caminhao" role="tabpanel" aria-labelledby="caminhao-tab">
    <table class="table table-bordered table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th  scope="col">Cod.</th>
          <th  scope="col">Marca</th>
          <th  scope="col">Modelo</th>
          <th  scope="col">Views..</th>
          <th  style="width: 5%;" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @caminhoes.each do |veiculo| %>
          <tr>
            <td><%= veiculo.id %></td>
            <td><%= veiculo.marca %></td>
            <td><%= veiculo.modelo %></td>
            <td><%= visualizacoes(veiculo) %></td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), class: "btn btn-secondary" do %>
              <i class="fa fa-car" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_editar_veiculo_path(veiculo), class: "btn btn-primary" do %>
              <i class="fa fa-edit" aria-hidden="true"></i>
              <%end%>
            </td>
            <td>
              <%= link_to admin_veiculo_path(veiculo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>